.venv/
.venv-old/

.secrets/
.data/raw/
.data/processed/
.data/intermediate/
.data/concepts/
.data/archive/
.ipynb_checkpoints/
.notebooks/
.scripts/data/
.scripts/previous_params.txt
*.png
*.csv
*.csv.gz
.env

.env.*

.DS_Store
Thumbs.db
.vscode/
.idea/